---
---

<nav class="d-navbar bg-base-100/80 backdrop-blur-md shadow-sm p-4">
  <div class="flex-1">
    <img src="https://placehold.co/192x48.png"/>
  </div>

  <div class="flex-none flex items-center gap-4">
    <a href="https://github.com/jvkceberg/blog">
      <img src="https://placehold.co/48x48.png"/>
    </a>
    <img src="https://placehold.co/48x48.svg"/>
  </div>
</nav>