---
import ThemeControl from '@/components/ThemeControl';
import Icon from '@/components/Icon';

interface NavbarLink {
  label: string;
  icon: string;
  href: string;
  iconOnly?: boolean;
}

interface Props {
  class?: string;
}

const navbarLinks: NavbarLink[] = [
  {
    label: 'Home',
    icon: 'material-symbols:home-rounded',
    href: '/'
  },
  {
    label: 'Blog',
    icon: 'material-symbols:article',
    href: '/blog'
  },
  {
    label: 'Github',
    icon: 'mdi:github',
    href: 'github.com/jvkceberg/blog',
    iconOnly: true
  }
];
---

<ul class="items-center gap-5 flex">
  {
    navbarLinks.map((link) => (
      <li>
        <a 
          href={link.href} 
          aria-label={link.label}
          class="flex gap-2"
        >
          <Icon name={link.icon} class={link.iconOnly? 'w-8 h-8' : 'w-6 h-6'} />
          { !link.iconOnly && <span class="font-medium text-lg">{link.label}</span> }
        </a>
      </li>
    ))
  }
  <li>
    <a href="#none">
      <ThemeControl name="navbar-theme-control" size={8}/>
    </a>
  </li>
</ul>