---
import BrandLogo from "@/components/BrandLogo"
import ThemeControl from "@/components/ThemeControl"
---

<div class="flex gap-3">
  <a href="https://github.com/jvkceberg/blog">
    <BrandLogo brand="github" class="w-10 h-10"/>
  </a>
  <ThemeControl is:inline/>
</div>