---
interface IconProps {
  name: string;
  type?: 'icon' | 'brand';
  class?: string;
}

interface Link {
  href: string;
  label: string;
  iconProps?: IconProps;
}

interface Props {
  links: Link[]
}

import MenuLinks from "@/components/MenuLinks"
---

<div class="flex gap-3">
  <MenuLinks links={Astro.props.links} variant="navbar"/>
</div>