---
import SidebarHeader from "./sidebarHeader.astro"
import SidebarFooter from "./sidebarFooter.astro"
---

<div class="bg-base-200 min-h-full w-80 p-4 flex flex-col">
  <SidebarHeader />
  <ul class="d-menu">
    <slot />
  </ul>
  <SidebarFooter />
</div>
