<div class="flex-col items-start gap-4 p-6 border-b border-base-contents/5">
  <a href="/" class="flex items-center gap-3 hover:opacity-80 transition-opacity">
    <img src="/logo.svg" alt="Logo">
    <div class="flex flex-col">
      <span class="font-bold text-xl tracking-tight text-base-content">Jvke's Blog</span>
      <span class="text-[10px] uppercase tracking-widest opacity-50 font-mono">Dev Log</span>
    </div>
  </a>
</div>